.tangy {
    display: block; width: 500px; height: auto; z-index: 1;
    position: absolute; margin-top: 150px; margin-left: 1200px;
}

.funny {
    background-color: gray
}

.placehold-pic { 
    opacity: 0;
}
